/* ==========================================================================
   Variables for HUVD styling
   ========================================================================== */

$c--beige: #EDEBE3;

$c--beige-dark: #E1E0D2;

$c--beige-darker: #8b877d;

$c--pink: #E80F8A;

$c--purple: #40134f;

