<div class="header">
    <div class="l-inner">
        <div class="brand">
            <img src="images/logo.png" />
        </div>
    </div>
</div>

<div class="l-panels">
    <div id="root"></div>
</div>

<div class="footer">

</div>